<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TutorialsNinja DemoSites">
	<listeners>			
		<listener class-name="com.qa.listeners.MyListener"/>  
	  </listeners> 
  <test  name="TutorialsNinja TestCases">
    <classes>
      <class name="com.qa.testcases.SearchTest"/>
      <class name="com.qa.testcases.LoginTest"/>
      <class name="com.qa.testcases.RegisterTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
